<!DOCTYPE html>
<html>

<head>
    <title>График прокачки {{ nickname }}</title>
    <meta charset="UTF-8">
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
<div style="width:100%;">
    <canvas id="canvas"></canvas>
</div>
<br>
<br>
<script>
    const color = Chart.helpers.color;
    const config = {
        type: 'line',
        data: {
            datasets: [
                {% for data in dataset %}
                    {
                        label: '{{data['label']}}',
                        backgroundColor: color('{{data["color"]}}').alpha(0.5).rgbString(),
                        borderColor: '{{data["color"]}}',
                        fill: false,
                        data: [
                            {% for value in data['dataset'] %}
                                {
                                    x: new Date({{value['unix']}}),
                                    y: {{value['y']}}
                                },
                            {% endfor %}
                        ]
                    },
                {% endfor %}
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'График прокачки игрока {{nickname}}'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Дата'
                    },
                    time: {
                        unit: 'day'
                    },
                    ticks: {
                        major: {
                            fontStyle: 'bold',
                            fontColor: '#FF0000'
                        }
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Значение'
                    }
                }]
            }
        }
    };

    window.onload = function () {
        moment.locale('ru')
        const ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);
    };
</script>
</body>
</html>
