<li class="you">
  <div class="entete">

          <h3 title="{{message['date']}}">{{message['date'].strftime("%H:%M:%S")}}</h3>
          <h2 title="UserId: {{user['user_id']}}">@{{user['username']}}</h2>
          <span class="status green"></span>
    
     {% if forward %}
        <br>
        <h2 title="UserId: {{forward['user_id']}}"> Forward from: @{{forward['username']}} [<h3 title="{{message['forward_date']}}">{{message['forward_date'].strftime("%H:%M:%S")}}</h3>]</h2>
    {% endif %}
  </div>
  <div class="triangle"></div>
  <div class="message">
   {{message['text']}}
  </div>

  <meta charset="utf-8" update-id="{{updateid}}">
  <meta charset="utf-8" name="{{message['message_id']}}">
</li>